<br/>
<div id='profile'>

<h2>Hello
  <%- currentUser.name %>!</h2>

<h2>Email:
  <%- currentUser.email %></h2>
<h2>Phone Number:
  <%- currentUser.phone %></h2>

</div>
<hr />
<h3>Consult</h3>
<div id='medical'>
If you are having side effects from using a contraceptive method or would like medical advice on contraceptive methods, please use our web chat to speak to a medical professional. Your information is confidential and will not be passed on.
<br />
<br />
<form class="" action="/advice/seek/<%- currentUser.id%>" method="get">
  <input class="button is-danger" id='medicalInput' type="submit" name="" value="Consult a Medical Professional">
</form>

</div>
<hr />
<div id='track'>
<h3>Track</h3>
<p style="margin-bottom: 20px;">Mood tracking can be an important part of assessing if a contraceptive method is suitable for you, especially for hormonal contraceptives. First, enter the contraceptive type and brand that you are currently using. Click on 'Track Contraceptive' and we will send you a daily sms asking for feedback on your mood that day. Your reply (on a scale of 1 to 5) will be recorded in the chart below, which you can share with your medical professional.</p>
<form id='add_contraceptive' action='/account' method='post'>
  <% var type = currentUser.contraceptiveType ? currentUser.contraceptiveType : 'type' %>
  <% var brand = currentUser.contraceptiveBrand ? currentUser.contraceptiveBrand : 'brand' %>
  <div class="field">
    <label class="label" for='contraceptiveType'>Contraception Type</label>
    <p class="control">
      <input class="input" value='<%- type %>' name="contraceptiveType" id="contraceptiveType" type="text" placeholder="Contraception Type">
    </p>
  </div>

  <div class="field">
    <label class="label" for='contraceptiveBrand'>Contraception Brand</label>
    <p class="control">
      <input class="input" value='<%- brand %>' name="contraceptiveBrand" id="contraceptiveBrand" type="text" placeholder="Contraception Brand">
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button id="decideButton" type="submit" name="track" value="true" class="button is-primary">
        Track Contraceptive
      </button>
    </p>
  </div>
</form>

<div id="chart">

<canvas id="myChart" width="400" height="400"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
<script>
  var levels = '<%- data.map((item) => { return item.level }).join(",") %>'.split(',')
  levels = levels.map((item) => {
    return parseInt(item)
  })
  var labels = levels.map((item, index) => {
    return index + 1
  })

  var ctx = document.getElementById("myChart").getContext("2d")
  var lineChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: labels,
      datasets: [
        {
          label: 'Happiness over time',
          fill: false,
          data: levels,
          borderColor: 'black',
          borderWidth: 2
        }
      ]
    },
    options: {}
  });
</script>
</div>

</div>
