    <main class="decide">
      <% if (formValues.has_steady_partner === undefined) { %>
        <form method="get" action="/decide">
          <h2>Do you have a steady partner?</h2> <button id=decideButton name="has_steady_partner" type="submit" value="true">Yes</button><button id=decideButton name="has_steady_partner" type="submit" value="false">No</button>
        </form>
      <% } else if (formValues.need_to_be_well_organised === undefined) { %>
        <form method="get" action="/decide">
          <input type='hidden' value='<%= formValues.has_steady_partner %>' name='has_steady_partner' />
          <h2>Are you well organised?</h2> <button id=decideButton name="need_to_be_well_organised" type="submit" value="true">Yes</button><button id=decideButton  name="need_to_be_well_organised" type="submit" value="false">No</button>
        </form>
      <% } else if (formValues.when_think_about === undefined) { %>
        <form method="get" action="/decide">
          <input type='hidden' value='<%= formValues.has_steady_partner %>' name='has_steady_partner' />
          <input type='hidden' value='<%= formValues.need_to_be_well_organised %>' name='need_to_be_well_organised' />
          <h2>When do you want to think about contraception?</h2><button id=decideButton name="when_think_about" type="submit" value="never">Rarely</button><button id=decideButton name="when_think_about" type="submit" value="at_the_time">At The Time</button><button id=decideButton name="when_think_about" type="submit" value="routine">Routine</button>
        </form>
      <% } else if (formValues.hormone_altering === undefined) { %>
          <form method="get" action="/decide">
            <input type='hidden' value='<%= formValues.has_steady_partner %>' name='has_steady_partner' />
            <input type='hidden' value='<%= formValues.need_to_be_well_organised %>' name='need_to_be_well_organised' />
            <input type='hidden' value='<%= formValues.when_think_about %>' name='when_think_about' />
            <h2>Do you want a method which alters hormones?</h2> <button id=decideButton name="hormone_altering" type="submit" value="true">Yes</button><button id=decideButton name="hormone_altering" type="submit" value="false">No</button>
        </form>
      <% } else { %>
      FINISHED
      <% } %>

    <ul class="c-options">
      <% options.forEach((option) => { %>
        <li class="c-options__option <% if (filteredOptions.indexOf(option.id) === -1) { %> c-options__option--inactive <% } %>">
          <a href="/option/<%= option.id %>">
                <img src="/decide_images/<%= option.id %>.jpg">
                <p>
                    <%= option.name %>
                </p>
          </a>
        </li>
      <% }) %>
    </ul>

    </main>
